* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calender {
width: 100%;
max-width: 1000px;
margin: 30px auto;
padding: 20px;
}

.header {
display: grid;
grid-template-columns: 1fr 300px 1fr;
align-items: center;
gap: 10px;
margin-bottom: 20px;
}

.header h2 {
text-align: center;
}

.navbutton {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #d946ef;
color: white;
cursor: pointer;
font-size: 16px;
}

.navbutton:hover {
background-color: #de0202;
}

.weekdays {
display: grid;
grid-template-columns: repeat(7, 1fr);
list-style: none;
text-align: center;
font-weight: bold;
margin-bottom: 5px;
}

.weekday {
padding: 10px;
}

.days {
display: grid;
grid-template-columns: repeat(7, 1fr);
list-style: none;
}


.day {
aspect-ratio: 4 / 3;
margin: 2px;
padding: 10px;

border-radius: 5px;

background: linear-gradient(
    135deg,
    #fcf8fb 0%,
    #ffe0fc 100%
);

border: 1px solid #f0b5e9;


}

.empty {
aspect-ratio: 4 / 3;
margin: 2px;
border-radius: 5px;
background-color: #f1f1f1;
}